@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0;
    padding:0;
    background-color:#252323;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:500px;
    height:400px;
    background-color:#70798C;
}
button {
    width: 100px;
    height:75px;
    padding:10px 25px;
    margin: 20px;
    background-color: #F5F1ED;
    border-radius: 15px;
    border:none;
    font-size:24px;
}
h2, div {
    color: #F5F1ED;
}
.scores {
    display:flex;
    justify-content: space-around;
}